.right-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 800px;
  background-color: var(--elements-bg-color);
}

.start {
  color: lightgrey;
  margin-top: 40px;
  margin-left: 40px;
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .right-panel {
    width: 100%;
  }
}
