.right-header {
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  background-image: url("../../img/blue-landscape-1.jpg");
}

.empty {
  flex-basis: 30px;
}

.my-day-header {
  font-size: 30px;
  margin-left: 10px;
}

.date-icon {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.hamburger {
  line-height: 40px;
  display: none;
  width: 26px;
  font-size: 38px;
  margin-right: 8px;
}

#toggle {
  display: none;
}

.menu-mobile {
  display: none;
  flex-direction: column;
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: var(--elements-bg-color);
}

/* .navigation {
  display: flex;
  flex-direction: row;
  background-color: var(--elements-bg-color);
  justify-content: flex-start;
} */

.nav-link {
  display: flex;
  text-decoration: none;
  color: var(--link-color);
  padding: 6px;
  padding-right: 3px;
  transition: color 1s, border 0.5s;
}

.nav-link:hover {
  color: var(--hover-text-main);
  border: 1px solid var(--hover-border);
}

.nav-link :active {
  color: var(--active-text);
  border: 1px solid var(--active-border);
}

.user-line {
  display: flex;
  border-bottom: 1px solid var(--border-color);
}

.profile-picture {
  height: 15px;
  width: 15px;
  background-image: url("../../img/perfect-location-for-a-profile-photo-2.jpeg");
}

.navigation-icon {
  flex-basis: 15px;
  padding-left: 5px;
}

.navigation-text {
  flex-basis: 150px;
  margin-left: 8px;
  margin-right: 5px;
}
.new-list {
  display: flex;
  padding: 8px;
  background-color: var(--elements-bg-color);
  justify-content: flex-start;
}

.navigation-icon {
  flex-basis: 15px;
  padding-left: 5px;
}

.navigation-text {
  flex-basis: 150px;
  margin-left: 8px;
  margin-right: 5px;
}

.add-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 0;
  outline: none;
  transition: color 1s, border 0.5s;
  color: var(--label-text-color);
}

.add-btn:hover {
  color: var(--hover-text-main);
}

.add-btn:active {
  color: var(--active-text);
}

.add-btn:focus {
  border: 1px solid var(--focus-border);
}

.add-text {
  flex-basis: 150px;
}

.new-list:hover {
  color: var(--hover-text-main);
  border: 1px solid var(--hover-border);
}

.new-list:active {
  color: var(--active-text-main);
  border: 1px solid var(--active-border);
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .menu-mobile {
    display: none;
  }

  #toggle:checked + .menu-mobile {
    display: flex;
  }
}
