.nav-link {
  display: flex;
  text-decoration: none;
  color: var(--link-color);
  padding: 6px;
  padding-right: 3px;
  transition: color 1s, border 0.5s;
}

.nav-link:hover {
  color: var(--hover-text-main);
  border: 1px solid var(--hover-border);
}

.navigation-del {
  display: none;
}

.nav-link:hover .navigation-misc {
  display: none;
}

.nav-link:hover .navigation-del {
  display: flex;
}

.nav-link:active {
  color: var(--active-text);
  border: 1px solid var(--active-border);
}

.navigation-icon {
  flex-basis: 10px;
  padding-left: 5px;
}

.navigation-text {
  flex-basis: 150px;
  margin-left: 8px;
  margin-right: 5px;
}
