/* a {
  display: flex;
  text-decoration: none;
  color: var(--link-color);
  padding: 6px;
  padding-right: 3px;
  transition: color 1s, border 0.5s;
}

a:hover {
  color: var(--hover-text-main);
  border: 1px solid var(--hover-border);
}

a:active {
  color: var(--active-text);
  border: 1px solid var(--active-border);
} */

.user-line {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  text-decoration: none;
  color: var(--link-color);
  padding: 6px;
  padding-right: 3px;
  transition: color 1s, border 0.5s;
}
.user-line:hover {
  color: var(--hover-text-main);
  border: 1px solid var(--hover-border);
}

.user-line:active {
  color: var(--active-text);
  border: 1px solid var(--active-border);
}

.profile-picture {
  height: 13px;
  width: 13px;
}

.navigation-icon {
  flex-basis: 10px;
  padding-left: 5px;
}

.navigation-text {
  flex-basis: 150px;
  margin-left: 8px;
  margin-right: 5px;
}
