.checkbox {
  -webkit-appearance: none;
  background-color: var(--elements-bg-color);
  border: 1px solid var(--checkbox-unchecked-border-color);
  padding: 7px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-left: 1px;
  margin-right: 8px;
  outline: none;
  transition: 1s;
}

.checkbox:hover {
  border: 1px solid var(--hover-border);
}
.checkbox:active {
  border: 1px solid var(--active-border);
}

.checkbox:focus {
  border: 1px solid var(--focus-border);
}

.checkbox:checked {
  background-color: var(--checkbox-checked-bg-color);
  border: 1px solid var(--checkbox-checked-bg-color);
}

.checkbox:checked:after {
  content: "✓";
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: var(--elements-bg-color);
}

.add-task {
  border-bottom: 1px solid var(--border-color);
  padding: 7px;
  display: flex;
  transition: border 0.5s;
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.add-task:hover {
  border: 1px solid var(--hover-border);
}

.add-task:active {
  border: 1px solid var(--active-border);
}

.placeholder {
  flex-basis: 1300px;
  border: none;
  outline: none;
}
.placeholder::placeholder {
  color: var(--main-bg-color);
}

.placeholder:focus {
  border: 1px solid var(--focus-border);
}

.add-task-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  color: var(--main-bg-color);
  align-self: center;
  outline: none;
  transition: color 1s;
}

.add-task-btn:hover {
  color: var(--hover-text-main);
}

.add-task-btn:active {
  color: var(--active-text);
}

.add-task-btn:focus {
  border: 1px solid var(--focus-border);
}
