.checkbox {
  -webkit-appearance: none;
  background-color: var(--elements-bg-color);
	border: 1px solid var(--checkbox-unchecked-border-color);
	padding: 7px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
	display: inline-block;
  position: relative;
  margin-left: 1px;
	margin-right: 8px;
	outline: none;
	transition: 1s;
}

.checkbox:hover {
	border: 1px solid var(--hover-border);
}
.checkbox:active {
	border: 1px solid var(--active-border);
}

.checkbox:focus {
  border: 1px solid var(--focus-border);
}

.checkbox:checked {
  background-color: var(--checkbox-checked-bg-color);
	border: 1px solid var(--checkbox-checked-bg-color);
}

.checkbox:checked:after {
  content: '✓';
	font-size: 10px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: var(--elements-bg-color);
}