:root {
  --main-bg-color: lightgrey;
  --elements-bg-color: white;
  --main-text-color: black;
  --border-color: rgb(238, 238, 238);
  --link-color: black;
  --checkbox-unchecked-border-color: black;
  --checkbox-checked-bg-color: rgb(134, 187, 55);
  --checkbox-hover-color: lightblue;
  --header-bg-color: lightblue;
  --header-text-color: white;
  --label-text-color: lightblue;
  --hover-border: blue;
  --hover-text-main: blue;
  --hover-text-task: green;
  --active-border: green;
  --active-text: green;
  --focus-border: blue;
}

html {
  font-family: "Roboto-Thin";
  
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: var(--main-bg-color);
}

main {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: var(--elements-bg-color);
  justify-content: flex-start;
}

a {
  display: flex;
  text-decoration: none;
  color: var(--link-color);
  padding: 6px;
  padding-right: 3px;
  transition: color 1s, border 0.5s;
}

a:hover {
  color: var(--hover-text-main);
  border: 1px solid var(--hover-border);
}

a:active {
  color: var(--active-text);
  border: 1px solid var(--active-border);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin.ttf");
  font-style: normal;
  font-weight: normal;
}