.left-panel {
  display: flex;
  flex-direction: column;
  height: 250px;
  line-height: 20px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 800px;
  background-color: var(--elements-bg-color);
}

