.hamburger {
  line-height: 40px;
  display: none;
  width: 26px;
  font-size: 38px;
  margin-right: 8px;
}

#toggle {
  display: none;
}

.menu-mobile {
  display: none;
  flex-direction: column;
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}
.new-list {
  display: flex;
  padding: 8px;
  background-color: var(--elements-bg-color);
  justify-content: flex-start;
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .left-panel {
    display: none;
  }
  .menu-mobile {
    display: none;
  }

  #toggle:checked + .menu-mobile{
    display: flex;
  }
}

.user-line {
  display: flex;
  border-bottom: 1px solid var(--border-color);

}

.profile-picture {
  height: 15px;
  width: 15px;
}

.navigation-icon {
  flex-basis: 15px;
  padding-left: 5px;
}

.navigation-text {
  flex-basis: 150px;
  margin-left: 8px;
  margin-right: 5px;
}

.add-btn{
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 0;
  outline: none;
  transition: color 1s, border 0.5s; 
  color: var(--label-text-color);
}

.add-btn:hover {
  color: var(--hover-text-main);
}

.add-btn:active {
  color: var(--active-text);
}

.add-btn:focus {
  border: 1px solid var(--focus-border);
}

.add-text {
  flex-basis: 150px;
}


.new-list:hover {
  color: var(--hover-text-main);
  border: 1px solid var(--hover-border);
}

.new-list:active {
  color: var(--active-text-main);
  border: 1px solid var(--active-border);
}