.right-header {
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  background-image: url("../img/blue-landscape-1.jpg");
}

.empty {
  flex-basis:30px;
}

.my-day-header {
  font-size: 30px;
  margin-left: 10px;
}

.date-icon{
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  html {
    margin: 0 24px 0 24px;
  }
  .right-panel {
    width: 100%;
  }
  .task-list {
    width: 100%;
  }
}
