.task-list {
  list-style-type: none;
  align-self: center;
  line-height: 15px;
  margin: 0;
  padding: 0;
  width: 900px;
  overflow: auto;
  border-left: 1px solid var(--border-color);
}
.task-entry {
  padding: 8px;
  padding-top: 15px;
  display: flex;
  align-self: center;
  transition: border 0.5s;
  border-bottom: 1px solid var(--border-color);
}

.task-entry:hover {
  border: 1px solid var(--hover-border);
}

.task-entry:active {
  border: 1px solid var(--active-border);
}

.task-content:hover {
  color: var(--hover-text-task);
}

.task-content {
  display: flex;
  flex-direction: column;
  transition: color 0.5s;
}

.notes {
  display: flex;
  color: var(--main-bg-color);
  font-size: 10px;
  padding-top: 2px;
}

.notes > *:not(:last-child) {
  padding-right: 10px;
}

.add-task {
  border-bottom: 1px solid var(--border-color);
  padding: 7px;
  display: flex;
  transition: border 0.5s;
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.add-task:hover {
  border: 1px solid var(--hover-border);
}

.add-task:active {
  border: 1px solid var(--active-border);
}

.placeholder {
  flex-basis: 1300px;
  border: none;
  outline: none;
}
.placeholder::placeholder {
  color: var(--main-bg-color);
}

.placeholder:focus {
  border: 1px solid var(--focus-border);
}

.add-task-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  color: var(--main-bg-color);
  align-self: center;
  outline: none;
  transition: color 1s; 
}

.add-task-btn:hover {
  color: var(--hover-text-main);
}

.add-task-btn:active {
  color: var(--active-text);
}

.add-task-btn:focus {
  border: 1px solid var(--focus-border);
}

.label-today {
  color: var(--label-text-color);
}

.label-tomorrow{
  color: var(--main-bg-color);
}