.new-list {
  display: flex;
  padding: 6px;
  background-color: var(--elements-bg-color);
}

.navigation-icon {
  flex-basis: 15px;
  padding-left: 5px;
}

.navigation-text {
  flex-basis: 150px;
  margin-left: 8px;
  margin-right: 5px;
}

.add-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 0;
  outline: none;
  transition: color 1s, border 0.5s;
  color: var(--label-text-color);
}

.add-btn:hover {
  color: var(--hover-text-main);
}

.add-btn:active {
  color: var(--active-text);
}

.add-btn:focus {
  border: 1px solid var(--focus-border);
}

.add-text {
  flex-basis: 150px;
}

.new-list:hover {
  color: var(--hover-text-main);
  border: 1px solid var(--hover-border);
}

.new-list:active {
  color: var(--active-text-main);
  border: 1px solid var(--active-border);
}

.new-list-popup {
  border-left: 0px;
  border-right: 0px;
  width: 140px;
  background: #ffffff;
}

.input-field {
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 5px 3px;
  margin-bottom: 4px;
}

.input-field:hover {
  border-color: lightgrey;
}
.input-field:focus {
  outline: none;
}

.popup-add-btn {
  background: rgb(25, 210, 25);
  border-radius: 4px;
  width: 100%;
  border: 0;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.popup-add-btn:hover {
  background: rgb(23, 189, 23);
}

.popup-add-btn:active {
  background: rgb(19, 147, 19);
}
