.task-list {
  list-style-type: none;
  align-self: center;
  line-height: 15px;
  margin: 0;
  padding: 0;
  width: 900px;
  overflow: auto;
  border-left: 1px solid var(--border-color);
}
.task-entry {
  padding: 8px;
  padding-top: 15px;
  display: flex;
  align-self: center;
  transition: border 0.5s;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}

.task-entry:hover {
  border: 1px solid var(--hover-border);
}

.task-entry:active {
  border: 1px solid var(--active-border);
}

.task-content:hover {
  color: var(--hover-text-task);
}

.task-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: color 0.5s;
}

.notes {
  display: flex;
  color: var(--main-bg-color);
  font-size: 10px;
  padding-top: 2px;
}

.notes > *:not(:last-child) {
  padding-right: 10px;
}
@media only screen and (max-width: 768px) {
  .task-list {
    width: 100%;
  }
}

.checkbox {
  -webkit-appearance: none;
  background-color: var(--elements-bg-color);
  border: 1px solid var(--checkbox-unchecked-border-color);
  padding: 7px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-left: 1px;
  margin-right: 8px;
  outline: none;
  transition: 1s;
}

.checkbox:hover {
  border: 1px solid var(--hover-border);
}
.checkbox:active {
  border: 1px solid var(--active-border);
}

.checkbox:focus {
  border: 1px solid var(--focus-border);
}

.checkbox:checked {
  background-color: var(--checkbox-checked-bg-color);
  border: 1px solid var(--checkbox-checked-bg-color);
}

.checkbox:checked:after {
  content: "✓";
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: var(--elements-bg-color);
}

.delete-task {
  display: none;
}

.task-entry:hover .delete-task {
  display: flex;
  align-self: right;
  margin-right: 10px;
  opacity: 0.3;
  font-size: 30px;
  margin-top: 7px;
}
