.checkbox {
  -webkit-appearance: none;
  background-color: white;
	border: 1px solid #414141;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 7px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
	display: inline-block;
  position: relative;
  margin: 7px;
  margin-left: 1px;
  margin-right: 8px;
}

.checkbox:checked {
  background-color: rgb(134, 187, 55);
	border: 1px solid rgb(134, 187, 55);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.checkbox:checked:after {
  content: '✓';
	font-size: 10px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #ffffff;
}