html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}