.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: white;
}

.navigation {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  justify-content: flex-start;
  border-right: 1px solid rgb(238, 238, 238);
  padding: 3px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex-basis: 1300px;
  margin-right: 0;
  padding-right: 0;
}
