.user-line {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(238, 238, 238);
  margin-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid lightgrey;
}

.profile-picture {
  height: 15px;
  width: 15px;
}

.my-day {
  display: flex;
  flex-direction: row;
  padding-bottom: 9px;
  padding-top: 9px;
}

.todo {
  display: flex;
  flex-direction: row;
  padding-bottom: 9px;
  padding-top: 9px;
}

.mis-desicrew {
  display: flex;
  flex-direction: row;
  padding-bottom: 9px;
  padding-top: 9px;
}

.new-list {
  display: flex;
  flex-direction: row;
  padding-top: 9px;
}

.navigation-icon {
  flex-basis: 15px;
  padding-left: 5px;
}

.navigation-text {
  flex-basis: 150px;
  margin-left: 8px;
}

.add-btn{
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 0;
  color: lightblue;
}

.add-text {
  flex-basis: 150px;
}

.link {
  text-decoration: none;
  color: black;
}