.right-header {
  display: flex;
  flex-direction: column;
  flex-basis: 120px;
  align-items: flex-start;
  background-color: lightblue;
  color: white;
  background-image: url("./img/blue-landscape-1.jpg");
}

.empty {
  flex-basis:100px;
}

.my-day-header {
  font-size: 30px;
  margin-left: 10px;
}

.date-icon{
  display: flex;
  width: 1247px;
  flex-direction: row;
}

.date {
  flex: 1;
  margin-left: 10px;
  margin-bottom: 10px;
}

.d-icon {
  margin-bottom: 5px;
  margin-right: 5px;
  align-self: flex-end;
}
