.task-list {
  display: flex;
  flex-direction: column;
}

.task {
  padding: 8px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.task-content {
  display: flex;
  flex-direction: column;
}

.notes {
  display: flex;
  flex-direction: row;
  color: lightgrey;
  font-size: 10px;
  padding-top: 2px;
}
 
.note-child {
  padding: 6px;
  padding-left: 0px;
}

.add-task {
  border-bottom: 1px solid rgb(238, 238, 238);
  padding: 7px;
  display: flex;
  flex-direction: row;
}

.placeholder {
  flex-basis: 1300px;
  color: grey;
}

.add-task-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  color: lightgrey;
  align-self: center;
  margin-top: 8px;
}

.label-today {
  color: lightblue;
}

.label-tomorrow{
  color: lightgrey;
}

.input-todo {
  width: 1100px;
  border: none;
  color: lightgrey;
  padding-top: 8px;
}

.empty-grey{
  background-color: rgb(238, 238, 238);
  flex-basis: 800px;
}